In [1]:
import pandas

In [5]:
ds  = pandas.read_csv('marks.csv')

In [6]:
ds.head()

   id  hrs  marks
0   1    2     20
1   2    3     30
2   3    6     60
3   4    7     70
4   5    4     40

In [7]:
ds.corr()

             id       hrs     marks
id     1.000000  0.609994  0.609994
hrs    0.609994  1.000000  1.000000
marks  0.609994  1.000000  1.000000