In [1]:
x = "jack"

In [2]:
x

'jack'

In [3]:
x = "krish"

In [4]:
x

'krish'

In [5]:
db =  [ 1, "vimal" , "ok"  ]

In [6]:
db

[1, 'vimal', 'ok']

In [7]:
type(db)

list

In [10]:
db[3]

IndexError: list index out of range

In [12]:
db.append(1111)

In [13]:
db

[1, 'vimal', 'ok', 1111]

In [16]:
# slicing op
db[1:2]

['vimal']

In [17]:
db[2:]

['ok', 1111]

In [19]:
db[:3]

[1, 'vimal', 'ok']

In [21]:
db[-1]

1111

In [23]:
db[-3:]

['vimal', 'ok', 1111]

In [24]:
db = [  
    [1 , "vimal", 1111, "ok"] , 
      [ 2 , "raj", 2222, "good"] , 
      [ 3 , "pop", 3333, "vgood"] ,
      [4 , "rahul", 4444, "ok"]
     ]

In [25]:
type(db)

list

In [28]:
db[1:4]

[[2, 'raj', 2222, 'good'], [3, 'pop', 3333, 'vgood'], [4, 'rahul', 4444, 'ok']]

In [30]:
type(db[2])

list

In [32]:
db[2][2]

3333

In [35]:
db[2:4][2]

IndexError: list index out of range

In [44]:
db

[[1, 'vimal', 1111, 'ok'],
 [2, 'raj', 2222, 'good'],
 [3, 'pop', 3333, 'vgood'],
 [4, 'rahul', 4444, 'ok']]

In [46]:
db[:]

[[1, 'vimal', 1111, 'ok'],
 [2, 'raj', 2222, 'good'],
 [3, 'pop', 3333, 'vgood'],
 [4, 'rahul', 4444, 'ok']]

In [37]:
import numpy

In [39]:
a = numpy.array(db)

In [40]:
type(a)

numpy.ndarray

In [41]:
a

array([['1', 'vimal', '1111', 'ok'],
       ['2', 'raj', '2222', 'good'],
       ['3', 'pop', '3333', 'vgood'],
       ['4', 'rahul', '4444', 'ok']], dtype='<U11')

In [50]:
a[1:3 , 1:3]

array([['raj', '2222'],
       ['pop', '3333']], dtype='<U11')

In [51]:
a1 = numpy.array([1,2,3,4,5,6,7,8])

In [52]:
type(a1)

numpy.ndarray

In [53]:
a1

array([1, 2, 3, 4, 5, 6, 7, 8])

In [54]:
a1[2:5]

array([3, 4, 5])

In [55]:
a1.shape

(8,)

In [57]:
a.shape

(4, 4)

In [59]:
a

array([['1', 'vimal', '1111', 'ok'],
       ['2', 'raj', '2222', 'good'],
       ['3', 'pop', '3333', 'vgood'],
       ['4', 'rahul', '4444', 'ok']], dtype='<U11')

In [60]:
a1

array([1, 2, 3, 4, 5, 6, 7, 8])

In [63]:
a1.reshape(4,2).shape

(4, 2)

In [66]:
a1.reshape(1,8).shape

(1, 8)

In [71]:
a1.reshape(-1,1).shape

(8, 1)